body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.task-info-border {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  opacity: 60%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-info-wrap {
  background-color: white;
  width: 60%;
  height: 60%;
}

.control-panel-wrap {
  width: 100%;
  height: 70px;
}

.date-picker > div > input {
  width: 100px;
}

.MuiTableCell-body {
  box-shadow: 0.5px 0px 0px 0px grey, 0.5px 0px 0px 0px grey;
}

.branch-info-cell {
  white-space: nowrap;
}

.branch-info-header-cell {
}

.default-branch-name {
  color: lightgrey !important;
}

.cell-task-info {
  width: 80px;
  padding: 0 !important;
}
.cell-status {
  width: 250px;
  padding: 6px 0 !important;
  min-width: 250px;
  color: white !important;
}

.MuiTableRow-head > .cell-status > div > div {
  color: white !important;
  max-width: 250px;
}

li.Mui-selected {
  background-color: grey !important;
}
